* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 280px;
  background-image: url(img/fondo_estrellado.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-image: cover;
  display: flex;
  justify-content: center;
}

.header {
  width: 50%;
  height: 50%;
  position: relative;
  top: 70px;
}

main {
  
  background-color: rgb(54, 110, 146);
}
footer {
  height: 90  px;
  background-color: #FFFEEF;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 19px;
  color: darkgrey;
  border-top: solid 1px rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > a > img {
  width: 40px;
  height: auto;
}

.card{
  border: solid 2px black;
  margin: auto;
  width: 270px;
  height: 295px;
  border-radius: 2%;
  background-color: #FFFEEF;

}
.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
  border-bottom: solid 1px black;
}
.card-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.25);
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 40px;
}
.card-description {
  text-align: left;
  
}
.card-description > p{
  border-top: solid 1px black;
  padding-left: 7px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  padding: 20px;
  
}

hr {
  width: 200px;
  margin-bottom: 5px;
}